.explore {
  background-size: 100% auto;
  @media screen and (min-width: 375px) {
    background-image:
      linear-gradient(#00000033, #00000033),
      url("/final-project/assets/whiskMob@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image:
        linear-gradient(#00000033, #00000033),
        url("/final-project/assets/whiskMob@2x.jpg");
    }
    .explore-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      padding: 63px 4.5px;
    }
    .explore-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -3%;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
    }
    .explore-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -2%;
      text-align: center;
      color: #ffffff;
    }
    .explore-btn {
      background-color: var(--orange);
      padding: 12px 28px;

      font-family: Montserrat;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #ffffff;
      border-radius: 100px;
      transition:
        background-color 0.5s,
        color 0.5s,
        border-color 0.5s;
    }
    .explore-btn:hover {
      color: #fd9222;

      background-color: #fcf1e0;
    }
  }
  @media screen and (min-width: 768px) {
    background-image:
      linear-gradient(#00000033, #00000033),
      url("/final-project/assets/whiskTab@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image:
        linear-gradient(#00000033, #00000033),
        url("/final-project/assets/whiskTab@2x.jpg");
    }
    .explore-title {
      font-size: 24px;
      line-height: 28px;
      width: 378px;
    }
    .explore-btn {
      font-size: 18px;
      padding: 14px 40px;
    }
    .explore-wrap {
      padding: 72px 118px;
      gap: 24px;
    }
  }
  @media screen and (min-width: 1200px) {
    background-image:
      linear-gradient(#00000033, #00000033),
      url("/final-project/assets/whiskDes@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image:
        linear-gradient(#00000033, #00000033),
        url("/final-project/assets/whiskDes@2x.jpg");
    }
    .explore-wrap {
      padding: 72px 332px;
      gap: 24px;
    }
  }
}
