.header {
  display: flex;
  padding-top: 20px;
  padding-bottom: 14px;
  @media screen and (min-width: 375px) {
    justify-content: space-between;
    .nav-logo {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -3%;

      display: flex;
      align-items: center;
    }
    .logo-span {
      font-style: italic;
    }
    .header-logo {
      width: 24px;
      height: 24px;
    }
    .header-nav {
      display: none;
    }
    .nav-list {
    }
    .nav-item {
    }
    .nav-link {
      transition: color 0.4s;
      position: relative;
    }
    .nav-link:hover {
      color: var(--orange);
    }
    .nav-link::after {
      transition: width 0.4s;
      content: "";
      display: block;
      width: 0;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: -8px;
      background-color: var(--orange);
    }
    .nav-link:hover::after {
      width: 55.81%;
    }
    .header-menu {
      width: 28px;
      height: 28px;
    }
    .header-social-list {
      display: none;
    }
    .header-social-items {
      transition-property: fill;
      transition-duration: 0.5s;
    }
    .header-social-items:hover {
      fill: var(--orange);
    }
    .program-link {
    }
    .header-social-logo {
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
    .header-logo {
      width: 32px;
      height: 32px;
    }
  }
  @media screen and (min-width: 1200px) {
    .nav-logo {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -3%;

      display: flex;
      align-items: center;
    }
    .logo-span {
      font-style: italic;
    }
    .header-logo {
      width: 24px;
      height: 24px;
    }
    .header-nav {
      display: flex;
      margin-left: 25.5px;
    }
    .nav-list {
      display: flex;
      gap: 24px;
    }
    .nav-item {
    }
    .nav-link {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -2%;
      vertical-align: middle;
    }
    .header-menu {
      display: none;
    }
    .header-social-list {
      display: flex;
      gap: 18px;
    }
    .header-social-items {
    }
    .program-link {
    }
    .header-social-logo {
      height: 24px;
      width: 24px;
    }
  }
}
