.made {
  @media screen and (min-width: 375px) {
    padding-top: 72px;
    .made-play {
      position: relative;
      cursor: pointer;
    }
    .made-video {
      border-radius: 15px;
      pointer-events: none;
    }
    .made-wrap {
      display: flex;
      gap: 20px;
      margin-top: 32px;
      flex-wrap: wrap;
    }
    .made-pause {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 35px;
      height: 35px;
      pointer-events: none;
    }
    .made-title {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -3%;
      text-align: center;
      text-transform: uppercase;
      color: var(--black);
    }
    .made-span {
      color: var(--orange);
    }
    .made-list {
      list-style: disc;
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 20px;
    }
    .made-wrap-text {
      background-color: #ffffff;
      padding: 20px 14px;
      border-radius: 15px;
    }
    .made-list::marker {
      font-size: 8px;
      color: #4c4c4c;
    }
    .made-wrap-title {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0%;
      color: var(--black);
      margin-bottom: 20px;
    }
    .made-item {
      margin-left: 16px;
    }
    .made-text {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -2%;
      color: var(--black);
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    .made-wrap-text {
      padding: 32px;
    }
    .made-wrap-title {
      margin-bottom: 28px;
    }
    .made-wrap {
      margin-top: 50px;
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 128px;
    .made-video {
      width: 600px;
    }
    .made-wrap-text {
      width: 516px;
    }
    .made-wrap {
      align-items: center;
      margin-bottom: 36px;
    }
    .made-break {
      height: 51px;
      width: 100%;
      background-color: #d9d9d9;
    }
  }
}
