
.top {
  padding: 60px 0;
}

.top-title {
  margin: 0 auto;
  margin-bottom: 32px;
  width: 160px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 128px;
  margin-bottom: 50px;

  width: 160px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 128px;
  margin-bottom: 50px;
}

.top-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.top-img {
  width: 100%;
  border-radius: 15px;
}

.top-mobile-text {
  margin-top: 20px;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #111111;
  gap: 236px;
}

.top-item--third {
  display: none;
}

.top-btn {
  align-self: flex-start;
  padding: 14px 40px;
  border-radius: 100px;
  border: none;
  background-color: #fd9222;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.top-spam {
  color: #fd9222;
}

.top-tablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .top-tablet {
    display: inline;
  }
  .top-title {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: -3%;
    text-align: center;
    text-transform: uppercase;
  }
  .top-spam {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: -3%;
    text-align: center;
    text-transform: uppercase;
  }
  .top-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .top-mobile-text {
    display: none;
  }

  .top-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
  }

  .top-tablet {
    max-width: 400px;
  }

  .top-btn {
    width: auto;
    margin: 0;
    padding: 12px 28px;
    border-radius: 100px;
    background: #fd9222;
    color: #fff;
    border: none;
  }
}

@media screen and (min-width: 1200px) {
  .top-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .top-item--third {
    display: block;
  }

  .top-wrap {
    justify-content: space-between;
    gap: 40px;
  }
}
